body{
    margin: 0;
    border: 0;
    padding: 0;
}
#gradiente{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
}
#titulo{
    border: 0;
    margin: 0;
    padding-top: 50px;
    text-align: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    line-height: 10vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10vh;
    color: red;
}
#clock{
    border: 0;
    margin: 0;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bold;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}
#links{
    font-family: 'Courier New', Courier, monospace;
    border: 0;
    margin: auto;
    width: 200px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    align-content: center;
    text-align: center;
}
#icone{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    margin-left: 10px;
    margin-right: 10px;
    border: 0;
}
#secret{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    vertical-align: bottom;
    font-size: 16px;
    line-height: 16px;
    padding-top: 50px;
}
