body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 16px;
}
#gradiente{
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
}
.titulo{
    position: relative;
    border: 0;
    margin: 0;
    top: 50px;
    text-align: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    line-height: 10vh;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0px 0px 6px black;
    font-size: 90px;
    color: red;
}
#clock{
    position: relative;
    border: 0;
    margin: 0;
    top: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}
.links{
    position: relative;
    padding: auto;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
    width: 100%;
    top: -300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    text-align: center;
}
.icone{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0;
    transition: 100ms ease;
}
.icone:hover {
    width: 110px;
    height: 110px;
    background-color: #ccc;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    transition: 100ms ease; 
}
.logo{
  position: relative;
  top: 100px;
  margin-left: calc(50% - 200px);
  align-items: center;
  align-content: center;
  width: 400px;
}
.secret{
    position: relative;
    top: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    vertical-align: bottom;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 0px;
}
@media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
  
    .titulo {
      font-size: 60px;
      line-height: 6vh;
    }
  
    #clock {
      font-size: medium;
    }
  }
/* Estilos para dispositivos de tela grande */
@media screen and (min-width: 768px) {
    .links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-gap: 10px;
      margin-left: auto;
      margin-right: auto;
    }
    .icone {
      margin: 0 10px;
    }
  }
  
  /* Estilos para dispositivos de tela pequena */
  @media screen and (max-width: 767px) {
    .links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(auto-fit, minmax(100px, auto));
      justify-content: center;
      align-items: center;
      grid-gap: 10px;
      margin-left: auto;
      margin-right: auto;
      top: -440px;
    }
    .secret{
      top: -400px;
    }
  }