body{
    margin: 0;
    border: 0;
    padding: 0;
}
#gradiente{
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
}
.titulo{
    position: relative;
    border: 0;
    margin: 0;
    top: 50px;
    text-align: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    line-height: 10vh;
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke: 1px black;
    font-size: 90px;
    color: red;
}
#clock{
    position: relative;
    border: 0;
    margin: 0;
    top: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}
.links{
    position: relative;
    top: 150px;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
    margin: auto;
    width: 200px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    align-content: center;
    text-align: center;
}
.icone{
    position: relative;
    display: inline-block;
    /*
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
    */
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0;
}
.secret{
    position: relative;
    top: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    vertical-align: bottom;
    font-size: 16px;
    line-height: 16px;
    padding-top: 50px;
}
